<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatsApp copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AD18B1F1E7C4E41009BFF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AD18B331E7C4E42009BFF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AD18B3E1E7C4E42009BFF2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
